<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <style>
    [v-cloak] {
      display: none;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }
  </style>
</head>
<body>
  <div class="container">
    <div id="app" v-cloak>
      <nav>
        <ul>
          <li>
            <button @click="setTemplate(`users-table`)">Таблица</button>
          </li>
          <li>
            <button @click="setTemplate(`user-add`)">Добавить</button>
          </li>
        </ul>
      </nav>

      <users-table
        v-if="template === 'users-table'"
        :loaded="isLoaded"
        :users="users"
        @user_delete="userDelete"></users-table>
      
      <user-add v-else-if="template === 'user-add'"></user-add>


    </div>
  </div>

  <template id="users-table">
    <div>
      <table v-if="loaded" class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Patronymic</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user of users" :key="user.id">
            <td>{{ user.id }}</td>
            <td><img :src="getUserAvatar(user.img)" alt="" width="30" height="30"></td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.patronymic }}</td>
            <td>
              <a :href=`user.html#${user.id}` class="btn btn-success">...</a>
            </td>
            <td>
              <button class="btn btn-danger" @click="user_delete(user.id)">X</button>
            </td>
          </tr>
          
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">Всего пользователей: {{ usersLength }}</td>
          </tr>
        </tfoot>
      </table>
      <p v-else>Loading...</p>
    </div>
  </template>

  <template id="user-add">
    <form action="#" @submit.prevent="addUser">
      <p>Add new user</p>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          v-model="name"
          required>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          id="surname"
          v-model="surname"
          required>
      </div>
      <div class="form-group">
        <label for="patronymic">Patronymic</label>
        <input
          id="patronymic"
          v-model="patronymic"
          required>
      </div>
      <button>Добавить</button>
    </form>
  </template>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
  <script>
    const DEFAULT_AVATAR = 'http://www.forum.vwclub.ua/images/avatars/no_avatar1.gif';
    const checkStatus = (response) => {
      if (response.ok) {
        return response;
      }

      throw new Error(`${response.status}: ${response.statusText}`);
    };

    const UsersTable = {
      name: `users-table`,
      template: `#users-table`,
      props: {
        users: {
          type: Array,
          required: true,
        },
        loaded: {
          type: Boolean,
          required: true,
        }
      },
      computed: {
        usersLength: function() {
          return this.users.length;
        }
      },
      methods: {
        getUserAvatar: function(img) {
          return img || DEFAULT_AVATAR;
        },
        'user_delete': function(id) {
          this.$emit(`user_delete`, id);
        }
      },
    };

    const UserAdd = {
      name: `user-add`,
      template: `#user-add`,
      data: function() {
        return {
          name: '',
          surname: '',
          patronymic: '',
        }
      },
      methods: {
        addUser: function() {
          const requestSettings = {
            body: JSON.stringify({
              id: (Date.now() + Math.random()).toString(),
              name: this.name,
              surname: this.surname,
              patronymic: this.patronymic
            }),
            headers: {
              'Content-Type': `application/json`
            },
            method: `POST`
          };
          fetch(`http://localhost:3000/users/`, requestSettings)
            .then(checkStatus)
            .then(() => {
              this.name = ``;
              this.surname = ``,
              this.patronymic = ``;
            })
        }
      }
    }

    const App = new Vue({
      el: `#app`,
      components: {
        'users-table': UsersTable,
        'user-add': UserAdd,
      },
      data: function() {
        return {
          users: [],
          isLoaded: false,
          template: `users-table`,
        }
      },
      methods: {
        userDelete: function(id) {
          this.users = this.users.filter(user => user.id !== id)
        },
        setTemplate: function(type) {
          this.template = type;
        }
      },
      mounted: function() {
        fetch(`http://localhost:3000/users`)
          .then(checkStatus)
          .then(response => response.json())
          .then(data => {
            this.users = data;
            this.isLoaded = true;
          });

        console.log(`Пользователи загружены!`)
      },
    });
  </script>
</body>
</html>